body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Source Sans Pro', sans-serif;
}


.viz{
  position: relative;
}

.annotations path {
    fill: none;
    stroke: black;
}

.legendBottom,
.legendTop{
  height: 20px;
}

/*network*/

#networkContainer{
    width: 100%;
    position: relative;
}

#controller{
  position: absolute;
  top:0px;
  right: 0px;
  z-index: 10;
}

#btn-zoom-wrapper{
  padding-top: 30px;
}

#zoomIn {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #373737;
  padding-top: 13px;
}

#zoomOut {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #373737;
  padding-top: 10px;
  padding-bottom: 9px;
}


#zoomReset {
  font-size: 13px;
  line-height: 20px;
  color: #373737;
}

#controller .btn-default{
  border: 1px solid #F6F6F6;
}

#controller .btn-default:active,
#controller .btn-default:focus{
  border: 1px solid #F6F6F6;
  background-color: #fff;
  outline: 0;
}

#controller .btn-default:hover{
  border: 1px solid #F6F6F6;
  background-color: #FFF4F4;
  transition: background-color 0.3s ease;
}

/* typeahead */

#searchwrapper{
  padding-top: 30px;
}

.twitter-typeahead{
  width: 80%;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 34px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #F6F6F6;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #FFF4F4;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 2px 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #F6F6F6;
}

.tt-suggestion {
  padding: 3px 10px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #000;
  background-color: #FFF4F4;
}

.tt-suggestion.tt-cursor {
  color: #000;
  background-color: #FFF4F4;

}

.tt-suggestion p {
  margin: 0;
}

.networkSide{
  height: 300px;
  overflow-y: scroll;
  margin-left: -8px;
}
