body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Crimson Text', serif;
  height: 100vh;
  overflow: hidden;
  color: #000000;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
font-weight: 300;
}

h2{
  font-weight: 300;
}

h3{
font-size: 12px;
color: #005AC4;
letter-spacing: 1px;
font-weight: 600;
text-transform: uppercase;
margin-top: 70px;
}

p{
font-size: 24px;
line-height: 34px;
}

.side-lists li{
  font-family: 'Source Sans Pro', sans-serif;
}

.reversefootnote {
  color: #005AC4;
}

.footnotes li, .footnotes li p, .footnotes li a{
font-family: 'Crimson', serif;
font-size: 16px;
letter-spacing: 0;
}

ul {
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

ol {
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.text-content p{
  font-family: 'Crimson', serif;
  font-size: 24px;
  letter-spacing: 0;
}

.text-content li {
  font-family: 'Crimson', serif;
  font-size: 24px;
  letter-spacing: 0;
}

.text-content ul, .text-content ol {
  margin-top: 17px;
}

/*header*/

#chemicalHeader{
  position: fixed;
  top: 0px;
  min-height: 50px;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  z-index: 9999;
}

.navbar-toggle.chemical-toggle{
  display: block;
  float: left;
}

.navbar-toggle.chemical-toggle .icon-bar {
  background-color: #005AC4;
}

#chemicalHeaderCollapse{
  position: fixed;
  top: 0px;
  min-height: 50px;
  background-color: #4990E2;
  width: 100%;
  border-bottom: 1px solid white;
  z-index: 9998;
  margin-top: 50px;
  transform: translate(0,-100%);
  transition: transform 1s;
}

#chemicalHeaderCollapse.open{
    transform: translate(0,0);
}

/* back - next */
#back,
#next {
  position: fixed;
  bottom: 0px;
  top: 0px;
  background-color: #fff;
  z-index: 10;
  border: 1px solid #E8E8E8;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 72px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#back{
  left: 0px;
}

#next{
  right: 0px;
}

#back:hover,
#next:hover {
background-color: #FBF9F9;
opacity: 1;
}

/*Viz page layout*/
.viz-header{
  margin-top: 100px;
}

.viz{
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 75px 0 25px;
  min-height: 500px;
}

/*End viz page layout*/

/*Home*/
.homeHeader {
  min-height: 600px;
  color:white;
  position: relative;
  background-image: url("../media/cover_home.png");
  background-position: right bottom;
  background-size: cover;
}

.homeHeader h1{
  font-size: 42px;
}

.homeHeader .homeTitle{
  position: absolute;
  bottom: 20px;
}

#researchQuestions{
  border: 1px solid #D7D7D7;
}

.question {
  padding: 10px 20px;
}

.question h1{
  font-size: px;
}

/*End Home*/

.annotations path {
    fill: none;
    stroke: black;
}

.legendBottom,
.legendTop{
  height: 20px;
}

/* loader*/

.nwLoaderContainer{
  position: relative;
}

.loaderContainer{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  background-color: rgba(128,128,128,0.2);
  z-index: 9999;
}

.loader{
  position: relative;
  left: 50%;
  top: 50%;
}

.loader .glyphicon-refresh.spinning {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

/* splashpage */

.splashMobile{
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.90);
  z-index: 9999;
  text-align: center;
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-flex!important;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  padding: 20px;
  font-size: 18px;
}

.splashMobile a{
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.splashMobile a:hover{
  color: black;
  text-decoration: underline;
}

/* edits */

.flow .tick line{
  stroke: #ccc!important;
}
.flow .tick text{
  fill: #898989!important;
}

/* toc */

.cont{
  cursor: pointer;
}

.context .brush rect{
  stroke-width: 0px;
}



/*network*/

.nwRow{
  border: 1px solid #f8f8f8;
}

.nwLegend{
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 15px;
}


.nwCol{
  background-color: #f8f8f8;
}

#networkContainer{
    width: 100%;
    position: relative;
}

#controller{
  position: absolute;
  top:0px;
  right: 0px;
  z-index: 10;
}

#btn-zoom-wrapper{
  padding-top: 30px;
}

#zoomIn {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #373737;
  padding-top: 13px;
}

#zoomOut {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #373737;
  padding-top: 10px;
  padding-bottom: 9px;
}


#zoomReset {
  font-size: 13px;
  line-height: 20px;
  color: #373737;
}

#controller .btn-default{
  border: 1px solid #F6F6F6;
}

#controller .btn-default:active,
#controller .btn-default:focus{
  border: 1px solid #F6F6F6;
  background-color: #fff;
  outline: 0;
}

#controller .btn-default:hover{
  border: 1px solid #F6F6F6;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}

.selectedNodes h4,
.linkedNodes h4 {
  font-size: 12px;
    color: #005AC4;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 5px;
}

.selectedNodes p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.linkButton{
  font-family: 'Source Sans Pro', sans-serif;
}

.linkButton.badge{
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 5px 9px;
  font-weight: normal;
  background-color: '#4A4A4A';
  cursor: pointer;
}
.linkButton.badge .badge{
  background-color: white;
  color: black;
  margin-left: 4px;
}

/* typeahead */

#searchwrapper{
  padding-top: 30px;
}

.twitter-typeahead{
  width: 80%;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 34px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #F6F6F6;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #F8F8F8;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 2px 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #F6F6F6;
}

.tt-suggestion {
  padding: 3px 10px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #000;
  background-color: #F8F8F8;
}

.tt-suggestion.tt-cursor {
  color: #000;
  background-color: #F8F8F8;

}

.tt-suggestion p {
  margin: 0;
}

.networkSide{
  height: 300px;
  overflow-y: scroll;
}

/* designer drugs metrics*/

.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 500px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 16.66666667%;
    float: left;
    padding-right: 19px;
    padding-left: 19px;
}
.header-fixed > tbody > tr > td{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filtersContainer{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  background-color: white;
  padding-top: 15px;
}

.filtersContainer > .row{
  margin: 0px;
}

.filtersContainer .bar{
  fill: #D8D8D8;
}

.filtersContainer .brush rect{
  stroke-width: 0px;
}

.legendContainer{
  padding-top: 15px;
  padding-bottom: 15px;
}

.legendContainer input{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.legendContainer .btn span.glyphicon {
  opacity: 0;
}
.legendContainer .btn.active span.glyphicon {
  opacity: 1;
}

.legendContainer .form-group{
  padding-right: 15px;
  padding-top: 3px;
}

.legendContainer .form-group label{
  font-weight: normal;
}

.legendContainer .form-group label:last-child{
  padding-left: 5px;
}

.tableContainer .table>thead>tr>th {
  text-transform: uppercase;
  cursor: pointer;
}

.tableContainer .table>tbody>tr>td>a {
  color: #666;
  text-decoration: none;
}

.tableContainer .table>tbody>tr>td>a:hover {
  color: #000;
  text-decoration: none;
}

@media (min-width:992px){
  body{
    overflow: auto;
    height: auto;
  }
}
