body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
font-size: 42px;
color: #000000;
font-weight: 300;
}

h2{
  font-size: 42px;
  font-weight: 900;
  opacity: 0.2;
  font-size: 42px;
  color: #000000;
}

h3{
font-size: 12px;
color: #005AC4;
letter-spacing: 1px;
font-weight: 600;
text-transform: uppercase;
margin-top: 70px;
}

p{
font-size: 24px;
color: #000000;
}

li{
font-family: 'Source Sans Pro', sans-serif;
font-size: 14px;
color: #000000;
letter-spacing: 0;
}

ul {
  list-style: none;
  -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

/*Viz page layout*/
.viz-header{
  margin-top: 100px;
}

.viz{
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 75px 0 25px;
}

/*End viz page layout*/

.annotations path {
    fill: none;
    stroke: black;
}

.legendBottom,
.legendTop{
  height: 20px;
}

/* edits */

.flow .tick line{
  stroke: #ccc!important;
}
.flow .tick text{
  fill: #898989!important;
}

/* toc */

.cont{
  cursor: pointer;
}

.context .brush rect{
  stroke-width: 0px;
}



/*network*/

#networkContainer{
    width: 100%;
    position: relative;
}

#controller{
  position: absolute;
  top:0px;
  right: 0px;
  z-index: 10;
}

#btn-zoom-wrapper{
  padding-top: 30px;
}

#zoomIn {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #373737;
  padding-top: 13px;
}

#zoomOut {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #373737;
  padding-top: 10px;
  padding-bottom: 9px;
}


#zoomReset {
  font-size: 13px;
  line-height: 20px;
  color: #373737;
}

#controller .btn-default{
  border: 1px solid #F6F6F6;
}

#controller .btn-default:active,
#controller .btn-default:focus{
  border: 1px solid #F6F6F6;
  background-color: #fff;
  outline: 0;
}

#controller .btn-default:hover{
  border: 1px solid #F6F6F6;
  background-color: #FFF4F4;
  transition: background-color 0.3s ease;
}

/* typeahead */

#searchwrapper{
  padding-top: 30px;
}

.twitter-typeahead{
  width: 80%;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 34px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #F6F6F6;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #FFF4F4;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 2px 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #F6F6F6;
}

.tt-suggestion {
  padding: 3px 10px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #000;
  background-color: #FFF4F4;
}

.tt-suggestion.tt-cursor {
  color: #000;
  background-color: #FFF4F4;

}

.tt-suggestion p {
  margin: 0;
}

.networkSide{
  height: 300px;
  overflow-y: scroll;
  margin-left: -8px;
}

/* designer drugs metrics*/

.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 500px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 16.66666667%;
    float: left;
    padding-right: 19px;
    padding-left: 19px;
}
.header-fixed > tbody > tr > td{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filtersContainer{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  background-color: white;
  padding-top: 15px;
}

.filtersContainer > .row{
  margin: 0px;
}

.filtersContainer .bar{
  fill: #D8D8D8;
}

.filtersContainer .brush rect{
  stroke-width: 0px;
}

.legendContainer{
  padding-top: 15px;
  padding-bottom: 15px;
}

.legendContainer input{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.legendContainer .btn span.glyphicon {
  opacity: 0;
}
.legendContainer .btn.active span.glyphicon {
  opacity: 1;
}

.legendContainer .form-group{
  padding-right: 15px;
  padding-top: 3px;
}

.legendContainer .form-group label{
  font-weight: normal;
}

.legendContainer .form-group label:last-child{
  padding-left: 5px;
}

.tableContainer .table>thead>tr>th {
  text-transform: uppercase;
  cursor: pointer;
}

.tableContainer .table>tbody>tr>td>a {
  color: #666;
  text-decoration: none;
}

.tableContainer .table>tbody>tr>td>a:hover {
  color: #000;
  text-decoration: none;
}
