<div class="footer">
<div class="container">
  <div class="row">
    <div class="col-md-3 doi-badge">
      <h3>how to cite this research</h3>
      <p>
Matteo Azzi, Lisa Krieg, Gabriele Colombo, Moritz Berning, Giorgio Uboldi,
Louis Dijkstra, Natalia Sanchez-Querubin, Aleksi Hupli. (2017, January 5).
Chemical knowledge. github.com/calibro/chemical-wiki. Zenodo. http://doi.org/10.5281/zenodo.231035
      </p>
      <a href="https://doi.org/10.5281/zenodo.231035"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.231035.svg" alt="DOI"></a>
    </div>
    <div class="col-md-3">
          <h3>disclaimer</h3>
      <p>
        The maps in this website are not perfect. The protocols and the methodologies we used to extract, analyse and display the information from Wikipedia are still highly experimental. Though imperfect and tentative, we hope that our visualizations will still be useful for the researchers and the actors interested in understanding how the knowledge of psychedelics and designer drugs has been established and stabilized on Wikipedia.
        To report errors or request information, write to us at info@chemicalyouth.org
      </p>

    </div>
    <div class="col-md-3">
       <h3>A research project by <a href="http://www.chemicalyouth.org/">Chemical Youth</a> © University of Amsterdam - 2016.</h3>
          <a href="http://www.chemicalyouth.org/"><img src="{{ '/media/logo-chemical.png' | prepend: site.baseurl }}"></a>
          <a href="http://www.uva.nl/home"><img src="{{ '/media/logo-uva.png' | prepend: site.baseurl }}"></a>
    </div>
    <div class="col-md-3">
 <h3>Designed and developed by <a href="http://www.calib.ro">Calibro</a><br>
          <a href="http://www.calib.ro"><img src="{{ '/media/logo-calibro.png' | prepend: site.baseurl }}" class="logo-calibro"></a>
      </p>
    </div>
  </div>
</div>
</div>
