{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
{% assign document = site[the_collection] | where: "category", page.category %}
{% endif %}

{% for links in document %}
{% if links.title == page.title %}
{% unless forloop.first %}
{% assign prevurl = prev.url %}
{% assign prevtitle = prev.title %}
{% endunless %}
{% unless forloop.last %}
{% assign next = document[forloop.index] %}
{% assign nexttitle = next.title %}
{% assign nexturl = next.url %}
{% endunless %}
{% endif %}
{% assign prev = links %}
{% endfor %}
<a href="{{ prevurl | prepend: site.baseurl }}" type="button" class="btn btn-link {% unless prevurl %}disabled{% endunless %}">
  <div id="back">
    <span class="glyphicon glyphicon-arrow-left"></span>
  </div>
</a>

<a href="{{ nexturl | prepend: site.baseurl }}" type="button" class="btn btn-link {% unless nexturl %}disabled{% endunless %}">
  <div id="next">
    <span class="glyphicon glyphicon-arrow-right"></span>
  </div>
</a>
