---
layout: default
---
<div class="homeHeader">
  <div class="container">
    <div class="row">
      <div class="col-md-6 homeTitle">
        <h1><strong>{{ site.title }}</strong></h1>
        <h1>{{ site.description }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      {{ content }}
    </div>
    <div id="affixContainer">
    <div id="researchQuestions" class="col-md-5 col-md-offset-1 text-center">
      <div class="row question">
        <div class="col-md-12">
          {% for page in site.pages %}
            {% if page.id == 'medical' %}
              <h3>1. {{page.title}}</h3>
              <h2>{{page.rq}}</h2>
              <p>
                <a href="{{page.url | prepend: site.baseurl}}">explore</a>
              </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="row question">
        <div class="col-md-12">
          {% for page in site.pages %}
            {% if page.id == 'designer' %}
              <h3>2. {{page.title}}</h3>
              <h2>{{page.rq}}</h2>
              <p>
                <a href="{{page.url | prepend: site.baseurl}}">explore</a>
              </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
