---
layout: default
---
<div class="homeHeader">
  <div class="container">
    <div class="row">
      <div class="col-md-6 homeTitle">
        <h1><strong>{{ site.title }}</strong></h1>
        <h1>{{ site.description }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="home-text-content" class="col-md-6 text-content">
      <ul id="home-tab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#introduction" aria-controls="introduction" role="tab" data-toggle="tab">Introduction</a></li>
        <li role="presentation"><a href="#howtocite" aria-controls="howtocite" role="tab" data-toggle="tab">How to cite</a></li>
        <li role="presentation"><a href="#team" aria-controls="team" role="tab" data-toggle="tab">Team</a></li>
      </ul>
      <div id="home-tab-content" class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="introduction">
          {{ content }}
        </div>
        <div role="tabpanel" class="tab-pane" id="howtocite">
          {% capture howtocite %}{% include howtocite.md %}{% endcapture %}
          {{ howtocite | markdownify }}
        </div>
        <div role="tabpanel" class="tab-pane" id="team">
          {% capture team %}{% include team.md %}{% endcapture %}
          {{ team | markdownify }}
        </div>
      </div>
    </div>
    <div id="affixContainer">
    <div id="researchQuestions" class="col-md-5 col-md-offset-1 text-center">
      <div class="row question">
        <div class="col-md-12">
          {% for page in site.pages %}
            {% if page.id == 'medical' %}
              <h3>1. {{page.title}}</h3>
              <h2>{{page.rq}}</h2>
              <p class="explore">
                <a href="{{page.url | prepend: site.baseurl}}">explore <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="row question">
        <div class="col-md-12">
          {% for page in site.pages %}
            {% if page.id == 'designer' %}
              <h3>2. {{page.title}}</h3>
              <h2>{{page.rq}}</h2>
              <p class="explore">
                <a href="{{page.url | prepend: site.baseurl}}">explore <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
