---
layout: default
---

{% include header.html %}

<div class="pageExHeader background-{{page.id}}">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>{{ page.title }}</h3>
        <h1>{{ page.rq }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 text-content">
      {{ content }}
    </div>
    <div class="col-md-5 col-md-offset-1 explorations-list">
      <div class="explorations-title">
        <h3>Explorations</h3>
      </div>
      {% assign explorations = site.explorations | where: "category", page.id %}
      {% for exploration in explorations %}
          <div class="media explorations-box {{exploration.category}}-{{ forloop.index}}">
              <div class="media-left">
                <h2 class="numbers"><strong>{{ forloop.index | prepend: '0'}}</strong><h2>
              </div>
              <div class="media-body">
                <h2 class="media-heading">{{ exploration.title }}</h2>
              </div>
              <div class="media-right">
                <p class="explore"><a href="{{ exploration.url | prepend: site.baseurl }}">explore</a></p>
              </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
