---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
  <div class="row">
    {% assign explorations = site.explorations | where: "category", page.id %}
    {% for exploration in explorations %}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <!-- <img src="..." alt="..."> -->
        <div class="caption">
          <h3>{{ exploration.title }}</h3>
          <p><a href="{{ exploration.url | prepend: site.baseurl }}" class="btn btn-default" role="button">explore</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
